In [7]:

import pandas as pd
import indicators_data as indicators
import math
from prettytable import PrettyTable



def df_gdp():
    
    i = indicators.get_major_indicators()
    
    #inputs
    us_gdp_pct_change = i.gdp_pct_change
    us_gdp = i.gdp
    us_real_gdp = i.real_gdp
     
    # format
    df_gdp = pd.merge(us_gdp_pct_change, us_gdp, on = 'date', how = 'outer')
    df_gdp = pd.merge(df_gdp, us_real_gdp, on = 'date', how = 'outer')
    df_gdp = df_gdp.sort_values(by='date', ascending= True).reset_index(drop = True)
    df_gdp['date'] = pd.to_datetime(df_gdp['date'])
    # Function to convert date to quarter
    def date_to_quarter(date):
        return f"{date.year} Q{((date.month - 1) // 3) + 1}"
    # Apply the function to the dataframe
    df_gdp['Quarter'] = df_gdp['date'].apply(date_to_quarter)
    df_gdp = df_gdp[df_gdp['date']>='1948-01-01']
    # Convert 'GDP' and 'Real_GDP' columns to numeric, coercing errors
    df_gdp['GDP'] = pd.to_numeric(df_gdp['GDP'], errors='coerce')
    df_gdp['Real_GDP'] = pd.to_numeric(df_gdp['Real_GDP'], errors='coerce')

    # Round up GDP values to integers
    df_gdp['GDP'] = df_gdp['GDP'].apply(lambda x: math.ceil(x) if pd.notnull(x) else x)
    df_gdp['Real_GDP'] = df_gdp['Real_GDP'].apply(lambda x: math.ceil(x) if pd.notnull(x) else x)
    
    return df_gdp

df_gdp = df_gdp()

df_gdp

          date GDP_pct_change    GDP  Real_GDP  Quarter
8   1948-01-01            3.2    266      2240  1948 Q1
9   1948-04-01            3.7    273      2277  1948 Q2
10  1948-07-01            7.6    280      2290  1948 Q3
11  1948-10-01            1.2    281      2293  1948 Q4
12  1949-01-01           -2.1    276      2261  1949 Q1
..         ...            ...    ...       ...      ...
308 2023-01-01            3.9  26814     22113  2023 Q1
309 2023-04-01            1.7  27064     22226  2023 Q2
310 2023-07-01            3.3  27611     22491  2023 Q3
311 2023-10-01            1.7  27957     22680  2023 Q4
312 2024-01-01            3.1  28256     22750  2024 Q1

[305 rows x 5 columns]

In [8]:
import requests
import pandas as pd
import numpy as np
import math
import prettytable
import streamlit as st
import matplotlib.pyplot as plt
import altair as alt
import plotly.graph_objects as go
from streamlit_navigation_bar import st_navbar
import sys
import os
from ..data import indicators_prep as ind_prep

ind_prep.df_gdp

ImportError: attempted relative import with no known parent package

In [6]:
i.gdp

           date        GDP
0    1946-01-01          .
1    1946-04-01          .
2    1946-07-01          .
3    1946-10-01          .
4    1947-01-01    243.164
..          ...        ...
308  2023-01-01  26813.601
309  2023-04-01  27063.012
310  2023-07-01  27610.128
311  2023-10-01  27956.998
312  2024-01-01  28255.928

[313 rows x 2 columns]

In [53]:
# Interest Rates: Long-Term Government Bond Yields: 10-Year: Main (Including Benchmark) for United States
series_id = "IRLTLT01USM156N"

# IRLTLT01USM156N Interest Rates: Long-Term Government Bond Yields: 10-Year: Main (Including Benchmark) for United States

us_interest_rate_10yr_bond = fetch_series_data(series_id, api_key)
us_interest_rate_10yr_bond = us_interest_rate_10yr_bond[['date','value']]
us_interest_rate_10yr_bond.rename(columns = {'date':'Month', 'value': 'Interest_Rate_10yr_Bond'}, inplace= True)
us_interest_rate_10yr_bond

          Month Interest_Rate_10yr_Bond
0    1953-04-01                    2.83
1    1953-05-01                    3.05
2    1953-06-01                    3.11
3    1953-07-01                    2.93
4    1953-08-01                    2.95
..          ...                     ...
848  2023-12-01                    4.02
849  2024-01-01                    4.06
850  2024-02-01                    4.21
851  2024-03-01                    4.21
852  2024-04-01                    4.54

[853 rows x 2 columns]

In [54]:


# Interest Rates: 3-Month or 90-Day Rates and Yields: Interbank Rates: Total for United States
series_id = "IR3TIB01USM156N"

us_interest_rate_3mo = fetch_series_data(series_id, api_key)
us_interest_rate_3mo = us_interest_rate_3mo[['date','value']]
us_interest_rate_3mo.rename(columns = {'date':'Month', 'value': 'Interest_Rate_10yr_Bond'}, inplace= True)
us_interest_rate_3mo

          Month Interest_Rate_10yr_Bond
0    1964-06-01                    3.86
1    1964-07-01                    3.87
2    1964-08-01                    3.85
3    1964-09-01                    3.87
4    1964-10-01                    3.94
..          ...                     ...
714  2023-12-01                    5.32
715  2024-01-01                    5.26
716  2024-02-01                    5.22
717  2024-03-01                    5.29
718  2024-04-01                    5.33

[719 rows x 2 columns]

In [55]:
#search series_id by dataset: https://fredaccount.stlouisfed.org/public/datalist/

# Unemployment Rate
series_id = "UNRATE"

us_unemployment_rate = fetch_series_data(series_id, api_key)
us_unemployment_rate = us_unemployment_rate[['date','value']]
us_unemployment_rate.rename(columns = {'date':'Month', 'value': 'Unemployment_Rate'}, inplace= True)
us_unemployment_rate

          Month Unemployment_Rate
0    1948-01-01               3.4
1    1948-02-01               3.8
2    1948-03-01               4.0
3    1948-04-01               3.9
4    1948-05-01               3.5
..          ...               ...
912  2024-01-01               3.7
913  2024-02-01               3.9
914  2024-03-01               3.8
915  2024-04-01               3.9
916  2024-05-01               4.0

[917 rows x 2 columns]

In [58]:


# Consumer Price Indices (CPIs, HICPs), COICOP 1999: Consumer Price Index: Total for United States
series_id = "CPALTT01USM659N"
#  CPALTT01USM657N
us_unemployment_rate = fetch_series_data(series_id, api_key)
us_unemployment_rate = us_unemployment_rate[['date','value']]
us_unemployment_rate.rename(columns = {'date':'Month', 'value': 'CPI'}, inplace= True)
us_unemployment_rate

          Month                  CPI
0    1956-01-01  0.37453179999999997
1    1956-02-01  0.37453179999999997
2    1956-03-01  0.37453179999999997
3    1956-04-01            0.7490637
4    1956-05-01   1.1235950000000001
..          ...                  ...
814  2023-11-01   3.1372709999999997
815  2023-12-01             3.352123
816  2024-01-01   3.0908849999999997
817  2024-02-01             3.153171
818  2024-03-01             3.477385

[819 rows x 2 columns]

In [49]:
df_GDP

Major Economics Indicators:

# GDP
# PPI
# CPI
# PMI
# M0, M1, M2

1.1 GDP

In [50]:
def get_gdp(freq, series_id): 

    # Define the URL and parameters
    url = 'http://dataservices.imf.org/REST/SDMX_JSON.svc/'

    param = [('dataset', 'IFS'),
            ('freq', freq),
            ('country', 'US'),
            ('series', series_id), 
            ('start', '?startPeriod=1920')]


    series = '.'.join([i[1] for i in param[1:4]])

    key = f'CompactData/{param[0][1]}/{series}{param[-1][1]}'

    # Combine API url with key specific to data request
    r = requests.get(f'{url}{key}').json()

    # Extract the data portion of results
    data = r['CompactData']['DataSet']['Series']

    # Check if data is a list or a single dictionary
    if isinstance(data, dict):
        data = [data]

    # Create pandas dataframe, column = country, row = obs
    df = pd.DataFrame({s['@REF_AREA']:
                    {i['@TIME_PERIOD']: float(i['@OBS_VALUE']) 
                        for i in s['Obs']} for s in data})

    # Convert index to datetime
    df.index = pd.to_datetime(df.index)
    
    return df

1.2 CPI and PPI

https://data.bls.gov/cgi-bin/surveymost?bls

In [34]:
# series_id = ['WPSFD4'] #'CUUR0000SA0', 'WPSFD4','EIUIR','EIUIQ','LNS14000000' # PPI, CPI, Import, Export, Unemployment
start_year = '1920'
end_year = '2024'

def get_bls_data(series_id, start_year, end_year): 
    
    headers = {'Content-type': 'application/json'}
    
    series_data = json.dumps({"seriesid": [series_id] ,"startyear" : start_year, "endyear" : end_year})  

    p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data = series_data, headers = headers)
    json_data = json.loads(p.text)
    for series in json_data['Results']['series']:
        x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
        seriesId = series['seriesID']
        for item in series['data']:
            year = item['year']
            period = item['period']
            value = item['value']
            footnotes=""
            for footnote in item['footnotes']:
                if footnote:
                    footnotes = footnotes + footnote['text'] + ','
            if 'M01' <= period <= 'M12':
                x.add_row([seriesId,year,period,value,footnotes[0:-1]])
        output = open(seriesId + '.txt','w')
        output.write (x.get_string())
        output.close()
        
    # Extract the relevant data
    series_data = json_data['Results']['series'][0]['data']
    # Convert to DataFrame

    df = pd.DataFrame(series_data)

    return df

In [35]:
# CPI
df_cpi = get_bls_data('WPSFD4', start_year, end_year)

# PPI
df_ppi = get_bls_data('CUUR0000SA0', start_year, end_year)

# unemployment rate
df_unemployment_rate = get_bls_data('LNS14000000', start_year, end_year)

In [41]:
df_ppi

     year period periodName value footnotes
0    1929    M12   December  17.2      [{}]
1    1929    M11   November  17.3      [{}]
2    1929    M10    October  17.3      [{}]
3    1929    M09  September  17.3      [{}]
4    1929    M08     August  17.3      [{}]
..    ...    ...        ...   ...       ...
115  1920    M05        May  20.6      [{}]
116  1920    M04      April  20.3      [{}]
117  1920    M03      March  19.7      [{}]
118  1920    M02   February  19.5      [{}]
119  1920    M01    January  19.3      [{}]

[120 rows x 5 columns]

In [66]:
series_id = 'NGDP_XDC' # Nominal GDP in national currency 
freq = 'A'

df_gdp = get_gdp(freq, series_id)